/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* Genral styles */
body {
    background-color: antiquewhite;

    font-size: 1rem;
}

.container {
    min-width: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.title {
    text-transform: capitalize;
}



.list .list-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 0.5em;

}

.bg-color {
    background-color: rgb(123, 177, 138);
}

/* END :Header */

/* START :Section Player */
.players {
    display: flex;
    justify-content: space-around;

}

.player {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.target-icone,
.cross-icone {
    width: 108px;
    height: 108px;
    transition: rotate 3S linear
}



/* START : Animation */

.player .cross-icone:hover {
    rotate: 360deg;

}

.player .target-icone:hover {
    rotate: 360deg;



}


/* END : Animation */
/* END :Section Player */

/* START : Table */
.table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;


}

td {
    width: 120px;
    height: 120px;
    border-spacing: 0;
    padding: 6px;

}

/* END : Table */